<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <title>Quiz Master</title>
</head>
<body>
    <header>
        <h2 class="logo">QuizMaster</h2>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="">About</a>
            <a href="/users/contact">Contact</a>
            <a href="/users/login">Login</a>
        </nav>
    </header>
    <main class="main" id="main">
        <!-- Demo Quiz -->
        <div class="container">
            <section class="quiz-section">
                <div class="quiz-box">
                    <h1>Quiz Master</h1>
                    <div class="quiz-header">
                        <span>Quiz Master</span>
                        <span class="header-score">Score: 0 / 5</span>
                    </div>
                    <h2 class="question-text">What does HTML stand for?</h2>

                    <div class="option-list">
                        <!-- <div class="option">
                            <span>A. Hyper Type Multi Language</span>
                        </div>
                        <div class="option">
                            <span>B. Hyper Text Multiple Language</span>
                        </div>
                        <div class="option">
                            <span>C. Hyper Text Markup Language</span>
                        </div>
                        <div class="option">
                            <span>D. Home Text Multi Language</span>
                        </div> -->
                    </div>
                    <div class="quiz-footer">
                        <span class="question-total">l of 5 Questions</span>
                        <button class="next-btn">Next</button>
                    </div>
                </div>


                <div class="result-box">
                    <h2>Quiz Result</h2>
                    <div class="percentage-container">
                        <div class="circular-progress">
                            <span class="progress-value">0%</span>
                        </div>

                        <span class="score-text">Your Score 0 out of 5</span>
                    </div>

                    <div class="buttons">
                        <button class="tryAgain-btn">Try Again</button>
                        <button class="goHome-btn">Go To Home</button>
                    </div>
                </div>

            </section>

            <section class="home">
                <div class="home-content">
                    <p> </p>
                    <button class="start-btn">Start Quiz</button>
                </div>
            </section>
        </div>
    </main>


    <div class="popup-info" id="popup-info">
        <h2>Quiz Guide</h2>
        <span class="info">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolor.</span>
        <span class="info">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolor.</span>
        <span class="info">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolor.</span>
        <span class="info">4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolor.</span>
        <span class="info">5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolor.</span>

        <div class="btn-group">
            <button class="info-btn exit-btn" id="exit-btn">Exit Quiz</button>
            <a href="#" class="info-btn continue-btn">Continue</a>
        </div>

    </div>
    <!-- about section start  -->

    <section class="about">

        <div class="image">

            <img src="/css/about.jpg" alt="">
        </div>

        <div class="content">
            <h1> about us</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus optio, a numquam esse ipsum iure.
                Modi autem blanditiis nulla vtempore totamsequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus optio, a numquam esse ipsum iure.
                Modi autem blanditiis nulla voluptate nostrum temporibus, amet, non quas consequuntur eum tempore totam
                sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus optio, a numquam esse ipsum iure.
                Modi autem blanditiis nulla voluptate nostrum temporibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, vero repell quae corrupti?</p>
            <a href="#"><button class="btn">learn more</button></a>
        </div>

    </section>
    <!-- partial:index.partial.html -->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <!-- <i class="fab fa-slack"></i> -->
          <span class="logo_name">QuizMaster</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Quick Links</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <!-- <ul class="box">
          <li class="link_name">Categories</li>
          <li><a href="#">Programming Quizes</a></li>
          <li><a href="#">FrontEnd Developmemnt</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul> -->
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Explore</li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">SQL</a></li>
          <li><a href="#">and many more..</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Feedback</li>
          <!-- <li class="n-text">Subscribe us for latest Update</li> -->
          <li><input type="text" placeholder="Write Here..."></li>
          <li><input type="button" value="Send"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2024 <a href="#">QuizMaster </a>All rights reserved</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>

    <!-- about section ends -->

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- custom js file link  -->
    <script src="questions.js"></script>
    <script src="script.js"></script>
</body>
</html>