@import url('https://fonts.googleapis.com/css2 ? family-Poppins:wght@300;400;500; 600; 700; 800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #080808;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #000;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover {
    background-color: #7125ff;
    color: #fff;
}

.main {
    min-height: 100vh;
    background: url('/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 255%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    margin-left: 20cm;
    justify-content: left;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.home-content h1 {

    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: #4b3cd0;
    border: 2px solid #fff;
    outline: none;
    margin-top: 4cm;
    border-radius: 6px;
    box-shadow: 0 0 10px #004AAD;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    background: #09001d;
    box-shadow: none;
}

.popup-info {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1)
}

.popup-info h2 {
    font-size: 50px;
    color: #004AAD;
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #051d40;
    font-weight: 500;
    margin: 4px 0;
}


.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;

}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #004AAD;
    border: 2px solid #004AAD;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #004AAD;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #004AAD;
    color: #fff;

}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #0f66b6;
    border-color: #0f66b6;

}

.quiz-section {
    position: relative;
    Left: -50%;
    /* left: 0; */
    width: 100%;
    background: url('/images/demo.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;

}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #004AAD;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    /* pointer-events: none; */
    transform: scale(.9);
}


.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}


.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #004AAD, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #004AAD;
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;

}

.quiz-header .header-score {
    background: #004AAD;
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {

    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #004AAD;
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;

}

.option-list .option:hover {

    background: rgba(77, 126, 239, 0.238);
    border-color: #0f66b6;
}

/* hover is not working */

.option-list .option.correct {
    background: #00a63d;
    color: #fff;
    border-color: #00a63d;
}

.option-list .option.disabled {
    pointer-events: none;
}


.option-list .option.incorrect {
    background: #a60045;
    color: #fff;
    border-color: #a60045;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #004AAD;
    padding-top: 20px;
    margin-top: 20px;

}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid #0f66b6;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #0f66b6;
    font-weight: 600;
    cursor: pointer;
    /* pointer-events: none; */
    transition: .5s;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: #004AAD;
    border-color: #004AAD;
    color: #fff;
}

.quiz-footer .next-btn:hover {
    background: #0f66b6;
    border-color: #0f66b6;
    color: #fff;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #004AAD;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: .3s ease;
    /* transition-delay: 0s; */
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {

    font-size: 52px;
}


.result-box .percentage-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#004AAD 3.6deg, blue 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #fff;
    border-radius: 50%;

}

.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
    color: #000;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 130px;
    height: 47px;
    background: #004AAD;
    border: 2px solid #004AAD;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: #004aad;
    border-color: #004aad;
    border: 2px solid #004AAD;
    color: #fff;
    box-shadow: 0 0 10px #004AAD;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: #004AAD;
}

.buttons button:nth-child(2):hover {
    background: #004AAD;
    color: #fff;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


.btn {
    font-size: 1rem;
    padding: .7rem 3rem;
    background: #286be6;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    border: 2px solid #286be6;
    color: #286be6;
    background-color: #fff;
}


.about {
    margin-top: -3%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.about .image {
    flex: 1 1 40rem;
}

.about .image img {
    width: 90%;
}

.about .content {
    flex: 1 1 40rem;

}

.about .content h1 {
    font-size: 3rem;
    color: #052bb3;
}

.about .content p {
    font-size: 15px;
    color: #666;
    padding: 1rem 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

footer {
    position: relative;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: -2cm;
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #afafb6;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267b2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267b2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1da1f2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1da1f2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #e1306c;
}

.top .media-icons a:nth-child(3):hover {
    color: #e1306c;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077b5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077b5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #ff0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #ff0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}


.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background: #eaeaea;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #afafb6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #0f0c29;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #2e2748;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}